body{
	font-family: 'Lato', sans-serif;
	margin: 0;
	
}
#main{
	padding: 15px;

}
#head{
	font-size: 45px;
	text-shadow: 3px 2px  #CCCC99;
	background-color: #f1f1f1;
	padding: 15px;
}
#inbox{
	font-size: 14px;
	color: #990033;
	margin: 10px;
	display: inline-block;
	border-radius: 5px;
}
#inbox:hover{
	font-size: 22px;
	color: #CCCC99;
	background-color: #990033;
}
table{
	border-collapse: collapse;
	width: 100%;
}

.tableRow p {
	display: inline-block;
	width: 33%;
}
.tableRow{
	border-bottom: 1px solid #CCCC99;
}
.tableRow:hover {
	background-color: #CCCC99;
}
.bodyE{
	display: none;
	background-color: #666633;
	color:  #CCCC99;
}